[app]
name = 'yourdomain.com'
secret_key = 'yoursecretkey'

[routing]
default_bundle = 'frontend'
default_controller = 'home'
default_action = 'index'
default_backend_bundle = 'backend'
default_backend_controller = 'home'
default_backend_action = 'index'

[env]
dev     = 'yourdomain.local'
test    = 'test.yourdomain.com'
preprod = 'preprod.yourdomain.com'
prod    = 'yourdomain.com'

[database]
driver = 'your_sgbd'
host = 'your_host'
name = 'database_name'
user = 'database_username'
pass = 'data_password'

[social]
twitter.user = 'your username'
twitter.oAuth.accessToken = ''
twitter.oAuth.accessSecret = ''
twitter.oAuth.consumerKey = ''
twitter.oAuth.consumerSecret = ''

[cache]
host = '127.0.0.1'
port = '11211'

[support]
name = 'Nicolas Bonnici'
email = 'nicolasbonnici@gmail.com'
website = 'http://nbonnici.info/'