[app]
name = 'Skeleton project'
secret_key = 'asecretkey'

[env]
dev     = 'dev.domain.tld'
test    = 'test.domain.tld'
preprod = 'preprod.domain.tld'
prod    = 'domain.tld'

[database]
driver = 'mysql'
host = 'your_database_host'
name = 'your_database_name'
user = 'your database_user'
pass = 'your database_pass'

[social]
twitter.user = 'your username'
twitter.oAuth.accessToken = ''
twitter.oAuth.accessSecret = ''
twitter.oAuth.consumerKey = ''
twitter.oAuth.consumerSecret = ''

[cache]
host = '127.0.0.1'
port = '11211'
